.git
.github
.pytest_cache
__pycache__
*.py[cod]
*.log
*.sqlite3
*.sqlite3-journal
db.sqlite3
db.sqlite3-journal
build
dist
release
runtime-test-appdata-*
OpenFMEA-Demo.spec
.venv
media/uploads
staticfiles
tests

